


.sectionCard i{
    font-size: 50px;
}

.question .card{
    background-color: #444;
}
.question .card .btn{
    text-align: center !important;
    box-shadow: none !important;
    border-bottom:none !important;
}
.question .card .btn:hover,.question .card .btn:hover{
    
   text-decoration:none !important;
}
.question button.btn.btn-link.btn-block.text-left {
    color: #fff;
    /* outline: none; */
}

